* {
    margin: 0;
}

body {
    margin: 0;
    background-color: #68cdd5;
}

.header {
    padding: 10px 0px 0px 15px;
    height: 76px;
}

.header img {
    width: 27px;
    height: 27px;
}

.main-01 {
    text-align: center;

    height: 96px;
}

.main-01 img {
    width: 90px;
    height: 35px;
}

.main-02 {
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 27px;
    padding: 0 50.5px;
    height: 189px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-left {
    height: 100px;
    width: 100px;
    margin-left: 43.5px;
    text-align: center;
}

.left1,
.right1 {
    font-size: 0;
}

.left1 img {
    width: 42px;
    height: 42px;
}

.left2 {
    font-size: 9.5px;
    color: white;
    margin-top: 8px;
}

.footer-right {
    height: 100px;
    width: 100px;
    margin-right: 43.5px;
    text-align: center;
}

.right1 img {
    width: 42px;
    height: 42px;

}

.right2 {
    font-size: 9.5px;
    color: white;
    margin-top: 8px;
}