* {
    margin: 0;
}
html{font-size:62.5%;}

.head {    background-color: #5fc0cd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.4rem;

}

.head1 {
    margin-left: 31px;
    font-size: 1.45rem;
    color: white;
}

.head2 {
    font-size: 1.65rem;
    color: white;
}

.head3 {
    margin-right: 1.55rem;
    font-size: 1.45rem;
    color: white;
}

.main {
    background-color: #eff0f4;
    height: 15rem;
    overflow:hidden;
}

.main-1 {
    height: 5.85rem;
    background-color: white;
    display: flex;
    margin-top:0.7rem;
    align-items: center;
}

.iphone {
    margin-left: 2.1rem;
}

.iphone img {
    width: 1.35rem;
    height: 2.05rem;
}

.line-1 {
    height: 2.55rem;
    width: 2px;
    margin: 0 1.65rem 0 2.3rem;
    background-color: #eff0f4;
}

.account {
    outline: 0;
    border: none;
    font-size: 1.45rem;

}



.main-2 {
    height:5.85rem;
    background-color: white;
    display: flex;
    margin-top:0.7rem;
    align-items: center;
}

.locked {
    margin-left: 2.1rem;
}

.locked img {
    width: 1.35rem;
    height:2.05rem;
}

.line-2 {
    height: 2.55rem;
    width: 2px;
    margin: 0 1.65rem 0 2.3rem;
    background-color: #eff0f4;
}

.password {
    outline: 0;
    border: none;
    font-size: 1.45rem;
}

.footer {
    width: 100%;
    background-color: #5fc0cd;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.55rem;
    color: white;
    border:none;

}

.tips {
    margin-top:1rem;
    text-align: right;
    font-size: 1.5rem;
}

.tips-01 {
    color: #5fc0cd;
}

input::placeholder {
    color: #eff0f4;
}
