* {
    margin: 0;
}

html {
    font-size: 625%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: #5fc0cd;
    font-size: 0.17rem;
    height: 0.4rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;


}

.arrow {
    margin-bottom: 0.15rem;
    margin-left: 0.0875rem
}

div {
    position: relative;
}

.arrow:after,
.arrow:before {
    width: 0;
    height: 0;
    border: 0.087rem solid transparent;
    border-right-color: white;
    position: absolute;
    content: "";
}

.arrow:after {
    top: 0;
    left: 0.025rem;
    border-right-color: #5fc0cd;

}

.header-title {

    font-size: 0.15rem;
    color: white;

}

.header-right {
    background-color: #5fc0cd;
    width: 0.1rem;
    height: 0.175rem;
    margin-right: 0.175rem;

}

.main01 {
    margin-top: 0.4rem;
    align-items: center;
    display: flex;
    width: 100%;
    height: 1.63rem;
    background-image: url(images/02.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.main01-picture img {
    padding-left: 0.15rem;
    width: 0.85rem;
    height: 0.85rem;

}

.main01-word {
    margin: 0.2rem 0 0.2rem 0;
}

.main01-word-name {
    padding-left: 0.22rem;
    font-size: 0.165rem;
    color: white;
    margin-bottom: 0.12rem;
}

.main01-word-position {
    position: relative;
    display: flex;
    padding-left: 0.22rem;

}

.main01-word-position-icon img {
    position: absolute;

    width: 0.09rem;
    height: 0.115rem;

}

.main01-word-position-word {
    left: 0.05rem;
    padding-left: 0.1rem;
    font-size: 0.115rem;
    color: white;
}

.main02 {
    display: flex;
    flex-direction: column;
}

.main02-row01,
.main02-row02,
.main02-row03,
.main02-row04,
.main02-row05 {
    border-bottom: 0.005rem solid;
    margin: 0 0.175rem;
    display: flex;
    height: 0.5rem;
    border-color: #e1e5e7;
    align-items: center;

}

.main02-row03-project,
.main02-row04-project,
.main02-row05-project,
.main02-row06-project {
    font-size: 0.15rem;
    color: #999999;

}

.main02-row01-line {
    width: o.015rem;
    height: 0.13rem;
    background-color: #5fc0cd;
    margin-right: 0.14rem;
}

.main02-row01 p {
    font-size: 0.16rem;
    color: #333333;
}

.main02-row02 p,
.main02-row03-content p,
.main02-row04-content p {
    color: #333333;
    font-size: 0.15rem;
}

.main02-row05-content p {
    font-size: 0.15rem;
    color: #e26163;
}

.main02-row02-line,
.main02-row03-line,
.main02-row04-line,
.main02-row05-line,
.main02-row06-line {
    width: 0.01rem;
    height: 0.13rem;
    background-color: #e1e5e7;
    margin: 0 0.13rem;
}

.main02-row02-line {
    width: 0.01rem;
    height: 0.13rem;
    background-color: #e1e5e7;
    margin: 0 0.1rem;
}

.main02-row02 {
    display: flex;
    background-image: url(images/04.png),
        url(images/04.png);
    background-position: 0.65rem 50%, 0 50%;
    background-repeat: no-repeat;
    background-size: 0.12rem;
}

.main02-row02-content {
    padding-left: 0.13rem;
}

.main02-row02-project {
    padding-left: 0.15rem;
}

.main02-row06-content {
    margin-right: 0.45rem;
}



.main02-row06-project {
    border-right-color: 0.005rem;
    border-right: 0.005rem 0.13rem;

}


.main02-row06 {

    border-bottom: 0.005rem solid;
    border-color: #e1e5e7;
    display: flex;
    align-items: center;

}

.main02-row06-project p {
    white-space: nowrap;
}

.main02-row06-project {
    margin: 0.17rem 0 0.17rem 0.18rem;
}

.main02-row06-content {
    font-size: 0.14rem;
    color: #444444;
    padding: 0.1rem 0rem;
}



.footer {
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    height: 0.84rem;
    width: 100%;
    align-items: center;
}

.footer-left {
    height: 0.44rem;
    width: 50%;
    border-width: 0.001rem solid;
    border-color: #5fc0cd;
    border-radius: 0.05rem;
    font-size: 0.16rem;
    color: #5fc0cd;
    background-color: white;
    margin: 0 0.05rem 0 0.18rem;


}

.footer-right {
    background-color: #5fc0cd;
    color: white;
    border-width: 0.001rem solid;
    border-color: #5fc0cd;
    border-radius: 0.05rem;
    height: 0.44rem;
    width: 50%;
    border: 0.001rem;
    font-size: 0.16rem;
    margin: 0 0.18rem 0 0.05rem;
}