* {
    margin: 0;
}

html {
    font-size: 62.5%;
}

.header {
    position: fixed;
    display: flex;
    background-color: #5fc0cd;
    font-size: 1.7rem;
    height: 4rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  

}

.header-left img {
    padding-left: 1.75rem;
    width: 1rem;
    height: 1.75rem;
   

}

.header-title {

    font-size: 1.5rem;
    color: white;

}

.header-right {
    background-color: #5fc0cd;
    width: 1rem;
    height: 1.75rem;

}

.main01 {
    padding-top: 4rem;
    align-items: center;
    display: flex;
    width: 100%;
    height: 16.3rem;
    background-image: url(images/02.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  
}

.main01-picture img {
    padding-left: 1.5rem;
    width: 8.5rem;
    height: 8.5rem;

}

.main01-word-name {
    padding-left: 2.2rem;
    font-size: 1.65rem;
    color: white;
    margin-bottom: 1.2rem;
}

.main01-word-position {
    display: flex;
    padding-left: 2.2rem;
}

.main01-word-position-icon img {
    width: 1.15rem;
    height: 1.15rem;
}

.main01-word-position-word {
    padding-left: 0.75rem;
    font-size: 1.15rem;
    color: white;
}

.main02 {
    display: flex;
    flex-direction: column;
}

.main02-row01,
.main02-row02,
.main02-row03,
.main02-row04,
.main02-row05 {
    border-bottom: 0.05rem solid;
    margin: 0 1.75rem;
    display: flex;
    height: 5rem;
    border-color: #e1e5e7;
    align-items: center;

}

.main02-row03-project,
.main02-row04-project,
.main02-row05-project,
.main02-row06-project {
    font-size: 1.5rem;
    color: #999999;

}

.main02-row01-line {
    width: 0.15rem;
    height: 1.3rem;
    background-color: #5fc0cd;
    margin-right: 1.4rem;
}

.main02-row01 p {
    font-size: 1.6rem;
    color: #333333;
}

.main02-row02 p,
.main02-row03-content p,
.main02-row04-content p {
    color: #333333;
    font-size: 1.5rem;
}

.main02-row05-content p {
    font-size: 1.5rem;
    color: #e26163;
}

.main02-row02-line,
.main02-row03-line,
.main02-row04-line,
.main02-row05-line,
.main02-row06-line {
    width: 0.1rem;
    height: 1.3rem;
    background-color: #e1e5e7;
    margin: 0 1.3rem;
}

.main02-row02-line {
    width: 0.1rem;
    height: 1.3rem;
    background-color: #e1e5e7;
    margin: 0 1rem;
}

.main02-row02 {
    display: flex;
    background-image: url(images/04.png),
        url(images/04.png);
    background-position: 6rem 50%, 0 50%;
    background-repeat: no-repeat;
    background-size: 1.2rem;
}

.main02-row02-content{padding-left:1.3rem;}
.main02-row02-project {
    padding-left: 1.5rem;
}

.main02-row06-content {
    margin-right: 4.5rem;
}



.main02-row06-project {
    border-right-color: 0.05rem;
    border-right: 0.05rem 1.3rem;
    
}


.main02-row06{
    
    border-bottom: 0.05rem solid;
    border-color:#e1e5e7;
    display:flex;
    align-items: center;
    
}
.main02-row06-project p{white-space:nowrap; 
}
.main02-row06-project{
    margin:1.7rem 0 1.7rem 1.8rem;}
.main02-row06-content{font-size:1.4rem;
                   color:#444444;
                   padding:1rem 0rem;}



.footer {
    position: fixed;
    display: flex;
    height: 8.4rem;
    width: 100%;
    align-items: center;
}

.footer-left {
    height: 4.4rem;
    width: 50%;
    border-width: 0.01rem solid;
    border-color:#5fc0cd; 
    border-radius: 0.5rem;
    font-size: 1.6rem;
    color:#5fc0cd;
    background-color:white;
    margin:0 0.5rem 0 1.8rem;

    
}

.footer-right {
    background-color:#5fc0cd;
    color:white;
    border-width: 0.01rem solid;
    border-color:#5fc0cd; 
    border-radius: 0.5rem;
    height: 4.4rem;
    width: 50%;
    border: 0.01rem;
    font-size: 1.6rem;
    margin:0 1.8rem 0 0.5rem;
}
